<html>
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0"></meta>
  <meta name="format-detection" content="email=no" />
  <meta  http-equiv="x-rim-auto-match" content="none">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks['common'].css %>" />
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.entry].css %>" />
</head>

<body>
  <div id="root"></div>
  <script src="<%= htmlWebpackPlugin.files.chunks['common'].entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.entry].entry %>"></script>
</body>
</html>